<div class="box">
    <div class="add-post-container">
        <h2>Agregar Publicación</h2>
        <form (ngSubmit)="addPost()">
          <div class="form-group">
            <label for="image">Subir imagen:</label>
            <input type="file" (change)="onImageSelected($event)" />
          </div>
      
          <div class="form-group">
            <label for="review">Escribe tu reseña:</label>
            <textarea id="review" [(ngModel)]="reviewText" name="reviewText" rows="5" required></textarea>
          </div>
      
          <button type="submit" class="btn-submit">Publicar</button>
        </form>
      </div>
</div>

  